streamlit
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-classic
langchain-text-splitters
chromadb
sentence-transformers
unstructured
unstructured[pdf]
pdfminer.six
pypdf
groq
tiktoken
requests
unstructured-inference
pytesseract
pdfminer.six
pillow
poppler-utils



